
src/ReduxArch.5.0.ReSharper.user
src/ReduxArch.Web/ve-583F.tmp
src/_ReSharper.ReduxArch/NamedArguments/
src/_ReSharper.ReduxArch/
src/ReduxArch.4.5.resharper.user
src/_ReSharper.ReduxArch/
src/_ReSharper.ReduxArch/
src/_ReSharper.ReduxArch
src/_ReSharper.ReduxArch/CachesImage.bin
src/_ReSharper*
src/_ReSharper.ReduxArch/TodoCache/.version
src/_ReSharper.ReduxArch/TodoCache/8/518b0053.dat
src/_ReSharper.ReduxArch/WebsiteFileReferences/.version
src/_ReSharper.ReduxArch/WordIndex.New/8/59619347.dat
src/Redux.Membership/obj/
src/Redux.Membership/bin/
src/Redux.Membership/bin/
src/Redux.Membership/bin/*
src/Redux.Membership/bin/Releas
src/ReduxArch.Core/obj/Release/Refactor/ReduxArch.Core.dll
src/ReduxArch.Core/bin/
src/ReduxArch.Core/obj/
src/ReduxArch.Data/bin/
src/ReduxArch.Data/bin/
src/ReduxArch.Data/obj/Release/
src/ReduxArch.Data/obj/
src/ReduxArch.Data/obj/
src/ReduxArch.Util/bin/
src/ReduxArch.Util/obj/
src/ReduxArch.Web/bin/
src/ReduxArch.Web/obj/
src/ReduxArch.Data/bin/